.failedScreen-container {
    position: relative;
    height: 1080px !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    height: 100% !important;
    .failedScreen-content{
        font-family: var(--AbdoLineRegular);
        font-size: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 0;
        justify-content: center;
        align-items: center;
        .characterAnimation{
            position: absolute;
            bottom: 175px;
            right: 20px;
            width: 400px;
            height: 400px;
        }
    }
    .video-player.wrapper {
        position: absolute;
    }
    .lessonTitleHolder{
        background-image: url(../images/failedPopup.png);
        // background-repeat: no-repeat;
        // background-size: 100% auto;
        //background-image: url(../images/layout_bg.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 926px;
        height: 855px;
        position: relative;
        z-index: 11111;
        &.last{
            background-image: url(../images/failed-final.png);
            .failedScreen-content-titles{
                height: calc(100% - 180px);
            }
        }
    }

    button.failed-replay-btn {
        border: 6px solid #70BF42;
        border-radius: 51px;
        background-color: #D4EBC6;
        height: 103px;
        width: 382px ;
        color: #2D4C1A;
        font-size: 65px;
        font-family: var(--AbdoLineBold);
        box-shadow: 0 4px rgba(72, 84, 101, 0.1019607843);
        transition: border-color 0.25s;
        &:hover{
            border-color: #D4EBC6;
            background-color: #F1F9EC;
        }
    }

    .lessonTitle {
        display: block;
        font-size: 80px;
        color: #FFFFFF;
        // max-width: 600px;
        text-align: center;
        font-family: var(--AbdoLineBold);
        //font-weight: bold;
        height: 100%;
        .failedScreenText-wrapper{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 90px;
        }
    }
    .lessonSubTitle {
        display: block;
        font-size: 60px;
        color: #FFB333;
        text-align: center;
        font-family: var(--AbdoLineBold);
    }
}

.failedScreen-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
    .startLessonBtnHolder{
        width: 100%;
        height: calc(100% - 620px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.failedScreen-content-titles{
    display: flex;
    height: 620px;
    gap: 50px;
    flex-direction: column;
    width: 100%;
    .yellowText{
        color: #ffb333;
        font-family: var(--SignikaSemiBold);
        font-size: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
video.videofailedScreen {
    position: absolute;
    width: 100%;
    height: 100%; 
}

.failedScreen-container_1, .failedScreen-container_2 {
    background-image: url(../images/layout_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.failedScreen-container_3 {
    background-image: url(../images/layout_bg_3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}